<div class="standard-container">

<nav>
  <% if authenticated? %>
    <%= button_to "Sign out", session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign in", new_session_path %>
  <% end %>
</nav>


  <h1>Home</h1>
  <p>Welcome to the site.</p>

  <div class="test-card">
    <h1>Open Props Test</h1>
    <p>
      If this card has spacing, rounded corners, and a soft shadow,
      Open Props is working.
    </p>
      <p class="prose">
        same but prose
      If this card has spacing, rounded corners, and a soft shadow,
      Open Props is working.
    </p>
  </div>

</div>
